<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <title>Document</title>
</head>
<body>
    <main class="container-profile">
        <ul class="ul-nav">
            <li class="nav"><a href="/feed" >Home</a></li>
            <li class="nav"><a href="/explore" >Explore</a></li>
            <li class="nav"><a href="/bookmarks" >Bookmarks</a></li>
            <li class="nav"><a href="/profile" >Profile</a></li>
            <li class="nav"><a href="/logout" >Logout</a></li>
            <li class="nav tweet"><a href="/tweet" class="fuck">Tweet</a></li>
        </ul>
        <section class="post">
            <% post.forEach( el => { %>
                <div class='container' data-id='<%=el._id%>'>
                    <p><a href="/profile/<%=el.name%>"><%=el.name%></a></p>
                    <p><%= el.text %></p>
                    <span class="retweet"><a href="#">Retweet</a></span><span><%= el.retweets %></span>
                    <span class="like"><a href="#">like</a></span><span><%= el.likes.length %></span>
                </div>
            <% }) %>   
        </section>
        <section class="snookabutt">
            <div>
                <h3>Who to follow</h3>
                <!-- going to be a random users whoi logged in user doesnt follow -->
            </div>
            <div>
                <h3>What's happening</h3>
                <!-- random tweets from users you dont follow-->
            </div>
        </section>
    </main>
    </body>
</html>
